/* VUE DESIGN SYSTEM FOCUS AND HOVER HELPERS
--------------------------------------------- */
@mixin princeton-focus($theme: light) {
  @if $theme == light {
    outline: var(--color-princeton-orange-on-white) solid 0.25rem;
  } @else if $theme == dark {
    outline: var(--color-princeton-orange-on-black) solid 0.25rem;
  } @else if $theme == shade {
    outline: var(--color-princeton-orange-on-black) solid 0.25rem;
  }
  outline-offset: none;
  box-shadow: none;
}
