/* VUE DESIGN SYSTEM FOCUS AND HOVER HELPERS
--------------------------------------------- */
@mixin princeton-focus($theme: light) {
  @if $theme == light {
    outline: var(--color-princeton-orange-on-white) solid 0.25rem;
    outline-offset: 0px;
  } @else {
    outline: var(--color-princeton-orange-on-black) solid 0.25rem;
    outline-offset: 0px;
  }
}
